<br>

<h2 class="display-4 text-center">Créez votre compte</h2>
<p class="lead text-center">
  ici vous pouvez facilement créer votre propre compte.
</p>

<hr width="75%" color=white>

<br>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label 'Prénom' %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control mb-4", placeholder: "Votre prénom" %>
    </div>

    <div class="field">
      <%= f.label 'Nom' %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control mb-4", placeholder: "Votre nom" %>
    </div>

    <div class="field">
      <%= f.label 'Description (optionel)' %>
      <%= f.text_field :description, autofocus: true, autocomplete: "description", class: "form-control mb-4", placeholder: "Décrivez-vous" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-4", placeholder: "Votre email" %>
    </div>

    <div class="field">
      <%= f.label 'Mot de passe' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-4", placeholder: "Votre mot de passe" %>
    </div>

    <div class="field">
      <%= f.label 'Confirmation de mot de passe' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-4", placeholder: "Confirmer votre mot de passe" %>
    </div>

    <div class="actions">
      <%= f.submit "S'enregistrer", class: "btn btn-info mb-4" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
