<br>
<h2 class="text-center">Se connecter</h2>
<br>
<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-4", placeholder: "Votre email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-4", placeholder: "Votre mot de passe" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label 'Ce souvenir de moi' %>
      </div>
    <% end %>
    <br>
    <div class="actions">
      <%= f.submit "Connexion", class: 'btn btn-info'%>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
