<br>

<div class="container">
    <div class="span3 well">
        <center>
          <%if @user.avatar.attached?%>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><%= image_tag @user.avatar, alt: 'avatar', width: '140', height: '140', class: 'rounded-circle' %></a>
          <%else%>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://st2.depositphotos.com/9223672/12056/v/950/depositphotos_120568244-stock-illustration-male-face-avatar-logo-template.jpg" name="aboutme" width="140" height="140" class="rounded-circle"></a>
          <%end%>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <em class="small text-muted">Clique sur ton avatar pour voir ton profil</em>
		</center>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Mon profil</h4>
                    <%= link_to 'Editer', edit_user_registration_path, :class => "btn btn-secondary"%>
                    </div>
                <div class="modal-body">
                    <center>
                      <%if @user.avatar.attached?%>
                        <%= image_tag @user.avatar, alt: 'avatar', width: '140', height: '140', border: '0', class: 'rounded-circle' %>
                      <%else%>
                        <img src="https://st2.depositphotos.com/9223672/12056/v/950/depositphotos_120568244-stock-illustration-male-face-avatar-logo-template.jpg" name="aboutme" width="140" height="140" border="0" class="rounded-circle">
                      <%end%>
                    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
                    <!--
                    <span><strong>Compétences: </strong></span>
                        <span class="badge badge-warning">HTML/CSS</span>
                        <span class="badge badge-info">C#</span>
                        <span class="badge badge-info">LUA</span>
                        <span class="badge badge-success">RUBY</span>
                        <span class="badge badge-success">RAILS</span>
                    -->
                    </center>
                    <hr>
                    <center>
                    <div class="text-left small"><strong>Bio: </strong><br>
                        <%= @user.description %>
                    </div>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <div class="small text-muted"><%= @user.created_at.strftime("Crée le %-d-%m-%Y à %Hh%M") %></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr width="50%" color=white>
<br>

<h3 class="text-center">Évènements créé:</h3>
<div class="lead text-center">
  ici tu pourras retrouver tous les évènements que tu as pu créer.
</div>

<br>
<% if current_user.events.count > 0 %>
<div class="container">
  <div class="row">
	    <% @user.events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg" width="318" height="110" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to event.title, event_path(event.id), :class => "link text-dark"%></h5>
            <p class="card-text small text-muted mb-auto"><%= event.start_date.strftime("%a, %h, %Y à %Hh%M") %></p>
            <p class="card-text small text-muted mb-2"><%= event.location %></p>
            <p class="card-text small text-muted">Prix: <%= event.price %>€</p>
          </div>
        </div>
      </div>
      <% end %>
 </div>
</div>
<% else %>
<h6 class="text-muted text-center">Vous n'avez pas d'évènement.</h6>
<% end %>
