<!DOCTYPE html>
<html>
  <head>
    <title>EventBriteClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path do %>
         <%= image_tag "https://therealdanvega.com/wp-content/uploads/2015/10/eventbrite.png", :class => "navbar-brand",:width => "110", :height => "60", :alt => "LogoEventBrite" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Accueil", root_path, class: "nav-item nav-link text-secondary" %>
          <% if current_user %>
            <%= link_to "Créer un évènement", new_event_path, class: "nav-item nav-link text-secondary" %>
          <% else %>
          <% end %>
        </div>
        <% if current_user %>
        <div class="btn-group dropleft ml-auto">
          <button class="btn btn-light btn-outline-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mon profil
          </button>
          <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
            <%= link_to 'AFFICHER MON PROFIL', user_path(current_user.id), class: "dropdown-item"%>
            <hr width="50%" color=white>
            <%= link_to 'SE DECONNECTER', destroy_user_session_path, :method => :delete, class: "dropdown-item"%>
          </div>
        </div>
        <% else %>
        <div class="dropdown ml-auto">
          <button class="btn btn-light btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            S'inscrire / Se connecter
          </button>
          <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
            <%= link_to 'INSCRIPTION', new_user_registration_path, class: "dropdown-item ml-auto"%>
            <hr width="50%" color=white>
            <%= link_to 'SE CONNECTER', new_user_session_path, class: "dropdown-item ml-auto"%>
          </div>
        </div>
        <% end %>
      </div>
    </nav>

    <% flash.each do |key, val| %>
          <div class="text-center alert alert-<%= key %>"><%= val %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% end %>
    <%= yield %>

    <div class="container">
      <hr width="75%" color=white>
      <footer class="footer text-center">
        <div class="container">
          <p class="text-muted small">&copy; Event-Brite | Clone - <%= Time.current.year %>
</p>
        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
